<div class="container">
    <h1>Welcome</h1>
    <h2>Enter a phone number with 7 to 10 digits, please.</h2>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
      <div class="col-md-4">
        <div class="form-group">
            <label for="">Phone Number </label>
            <input (keypress)="keyPress($event)" required type="text" formControlName="phonenumber" class="form-control" placeholder="Enter a 7 to 10 digits Phone Number" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }">
            <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
            <div *ngIf="f.phonenumber.errors.required">Phone number is required</div>
            <div *ngIf="f.phonenumber.errors.pattern">Please, enter a valid phone number.</div>
            <div *ngIf="f.phonenumber.errors.minlength">Phone number must be at least 7 numbers</div>
            <div *ngIf="f.phonenumber.errors.maxlength">Phone number must be 10 numbers maximum</div>
        </div>
        </div>
    </div>
  
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>